.product {
    /* background-color: beige; */
    display: inline-grid;
    padding: 10px;
    cursor: pointer;
}

.card {
    width: 363px;
    height: 363px;
    position: relative;
    cursor: pointer;
}

.title {
    position: absolute;
    height: 55px;
    width: 100%;
    background-color: #d6e1de7d;
    font-weight: bold;
}

.title > span {
    top: 10px;
    right: 10px;
    position: absolute;
}

.paper {

    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: #FFF;
    border: 2px solid #000;
    max-height: 360px;
    max-width: 360px;
}

.close{
    position: absolute;
    right: 1px;
    top: 1px;
    width: 32px;
    height: 32px;
    opacity: 1;
    z-index: 999;
}

.close:hover {
    opacity: 1.9;
  }

.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }

.close:before {
    transform: rotate(45deg);
  }
.close:after {
    transform: rotate(-45deg);
  }
.carousalContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

.carousalContainer ul {
  list-style: none;
}

.pricediv {
  position: absolute;
  bottom: 50px;
  left: 20px;
  padding: 5px;
  background-color: #000;
  border-radius: 3px;
}

.pricediv span {
  color: #FFF;
  font-weight: bold;
}
